.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  background-color: #2195f3;
}

.header {
  grid-column: 3 / 3;
  grid-row: 1;
  text-align: center;
  height: 150px;
  width: 360px;
  background-color: wheat;
  margin: 10px;
}

.menu {
  grid-column: 1 / 5;
  grid-row: 2;
  height: 75px;
  text-align: center;
  background-color: green;
  margin: 10px;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: 610px;
  overflow: hidden;
}

li {
  display: inline;
  float: left;
}

a {
  display: block;
  padding: 8px;
  margin-left: 50px;
  background-color: black;
  color: white;
}

a.active{
  background-color: gray;
  color: white;
}

.photo1 {
  grid-column: 1 / 3;
  grid-row: 3;
  width: 420px;
  height: 200px;
  text-align: center;
  background-color: wheat;
  margin: 10px;
}

.photo2 {
  grid-column: 4 / 5;
  grid-row: 3;
  width: 420px;
  height: 200px;
  text-align: center;
  background-color: wheat;
  margin: 10px;
}

.text1 {
  grid-column: 1 / 2;
  grid-row: 4;
  width: 420px;
  text-align: center;
  background-color: green;
  margin: 10px;
}

.text2 {
  grid-column: 4 / 5;
  grid-row: 4;
  width: 420px;
  text-align: center;
  background-color: green;
  margin: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
  text-align: center;
}

.photo3 {
  grid-column: 1 / 2;
  grid-row: 3 / 6;
  width: 300px;
  height: 600px;
  text-align: center;
  background-color: wheat;
  margin: 5px;
}

.text3 {
  grid-column: 3;
  grid-row: 3;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: green;
  margin: 5px;
}

.text4 {
  grid-column: 3;
  grid-row: 4;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: green;
  margin: 5px;
}

.text5 {
  grid-column: 3;
  grid-row: 5;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: green;
  margin: 5px;
}

.photo4 {
  grid-column: 4 / 5;
  grid-row: 3;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: wheat;
  margin: 5px;
}

.photo5 {
  grid-column: 4 / 5;
  grid-row: 4;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: wheat;
  margin: 5px;
}

.photo6 {
  grid-column: 4 / 5;
  grid-row: 5;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: wheat;
  margin: 5px;
}
